h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

h2 {
  font-family: gill sans, sans-serif;
  text-align: center;
}

li{
  list-style-type: none;
  margin: 0 2px;
  font-size: 3vh;
}

a{
  text-decoration: none;
  color: salmon;
  padding: 2px;
  font-family: gill sans, sans-serif;
  display: block;
}

.fixed-nav-bar {
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  text-align: center;
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: #fcece6;
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.button-submit {
  border: 0;
  background: #fcece6;
  text-shadow: 0.5px 0.5px 0.5px white;
  border: 1px solid #999;
  position: relative;
  top: 60%;
  left: 20%;
  right: 20%;
  bottom: 5%;
}


.thumb-bar img {
  position: relative;
  display: block;
  width: 20%;
  float: left;
  height: 155px;
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 62%;
}
